@{
    ViewData["Title"] = "Requests Page";
}

<div class="text-center">
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Request" asp-route-request="" asp-controller="Requests">Departaments</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Request" asp-route-request="" asp-controller="Requests">Departaments</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Request" asp-route-request="" asp-controller="Requests">Departaments</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Request" asp-route-request="" asp-controller="Requests">Departaments</a>
    </div>
</div>