@model SportSections.Models.RequestViewModel

@{
    ViewData["Title"] = "Request";
}

<h1>Request</h1>

<table class="table">
    <thead>
        <tr>
            @foreach (var item in Model.Displays)
            {
                <th>
                    @item
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var listItem in Model.Result)
        {
            <tr>
                @foreach (var item in listItem)
                {
                    <td>
                        @item
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
