@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Departaments">Departaments</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Faculties">Faculties</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Groups">Groups</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Sections">Sections</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Students">Students</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="StudentSections">Student Sections</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Trainers">Trainers</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="TrainerSections">Trainer Sections</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Universities">Universities</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Requests">Requests</a>
    </div>
</div>